@charset "utf-8";

/*header*/
.wrap{margin: 0 auto;}
.containerOne{
	margin: 0 auto;width: 1200px;height: 70px;
	background-image: url(../images/hBg01.jpg);
	background-repeat: no-repeat;
	position: relative;
}
.containerOne .logo{margin-left: 180px; position: absolute;top:10px;}
.containerOne .wrapForm{
	position: absolute;left: 50%;top: 50%;
	transform: translate(-80%,-50%);
	background: #fff;
	width: 280px;height: 28px;
	border-radius: 50px;
}
.containerOne .wrapForm form{margin-left: 18px;margin-top: 2px;}
.containerOne .wrapForm img{position: absolute;	top:5px;right:15px;}
.containerOne .topRight p{
	position: absolute;top:22px;right: 330px;
	color: #fff;font-size: 20px;font-weight: bold;
}
.containerOne .topRight2{
	float: left;margin-right: 5px;
	position: absolute;
	top:23px;right: 190px;
}

.blind{border-style: none;}


.containerTwo{
	display: block;margin: 0 auto;
	width: 1200px;height: 50px;
	background:#eee;
	padding-left: 175px;
}
.containerTwo li{
	float: left;line-height: 50px;
	display: block;width: 140px;
	text-align: center;
	border-right: 1px solid #ccc;
	font-size: 14px;font-weight: bold;
	transition: 0.3s;
}
.containerTwo li:first-child{border-left: 1px solid #ccc;}
.containerTwo li:hover{background: rgba(0,0,200,0.3);color: #fff;}



/*body contents*/
.container{
	width: 1200px;height: 1200px;
	background-image: url(../images/mainbg.jpg);
	background-repeat: no-repeat;
/*	background-position: center;
	background-size: auto,cover;*/
	margin: 0 auto;
	position: relative;
	border-top: 5px solid darkblue;
}
.reserve{
	display: block;
	width:420px;height: 280px;
	background:white;
	position: absolute;
	left: 175px;top: 50px;
}
.reserve ul{}
.reserve ul li{
	display: block;width: 130px;height: 70px;
	background: darkblue;text-align: center;
	padding-top: 25px;color: #fff;
	border-bottom: 1px solid #ccc;
}
.reserve ul li:first-child{background-color: white;color: #000;}


/*트래블 고*/
.travelGo{
	width: 420px;height: 490px;background: pink;
	float: right;position: absolute;
	right:175px;top: 50px;
}
.travelGo div{padding-top: 10px;padding-left: 20px;}
.travelGo h2{font-size: 40px;color: rgb(0,0,100);}
.travelGo p{
	font-size: 17px;font-weight: bold;
	padding-top: 10px;color: rgb(0,0,100);
}
.travelGo img{position: relative;top:-120px;right: 50%;}


/*콘텐츠 두개짜리*/
.leftbox{
	width: 205px;height: 200px;
	background-image: url(../images/leftbox.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top:340px;left:175px;
}
.rightbox{
	width: 205px;height: 200px;
	background-image: url(../images/rightbox.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top:340px;left:390px;
}
.blueline{
	width: 205px;height: 50px;
	background: rgb(0,0,60);
	color: #fff;
	margin-top: 150px;
	text-align: center;
	line-height: 50px;
	transition: 0.3s;
}
.leftbox p,.rightbox p{color: rgb(0,200,0);}
.leftbox p,.leftbox h4,.leftbox div{display: inline-block;}
.rightbox p,.rightbox h4,.rightbox div{display: inline-block;}

.blueline:hover{background: #eee;color: red;}


/*콘텐츠 첫번째줄*/
.content{position: relative;top: 550px;}
.content>ul>li:nth-child(1){position:absolute;left: 175px;
	display:inline-block;}
.content .box1 img{width: 205px;height: 200px;}
.content .box1 div{
	position: absolute;bottom: 0;
	background: rgb(0,120,0);
	width: 205px;height: 50px;
}
.content .box1 p{padding-left: 10px;padding-top: 3px;color: #fff;font-size: 15px;}


.content>ul>li:nth-child(2){position: absolute;left: 390px;
	display:inline-block;}
.content .box2 img{width: 205px;height: 200px;}
.content .box2 div{
	position: absolute;bottom: 0;
	background: rgb(0,0,60);
	width: 205px;height: 50px;
}
.content .box2 p{padding-left: 10px;padding-top: 3px;color: #fff;font-size: 15px;}


.content>ul>li:nth-child(3){
	position:absolute;left: 605px;
	display:inline-block;
}
.content .box3 img{width: 205px;height: 200px;}
.content .box3 div{
	width: 205px;height: 50px;
	position: absolute;bottom: 0;
	background: rgb(0,0,0,0.5);
}
.content .box3 .p1{font-size: 15px;position: absolute;top: 10px;left:65px;}
.content .box3 h4{padding-left: 10px;padding-top: 3px;color: #fff;font-size: 15px;}
.content .box3 p{padding-left: 10px;color: #fff;font-size: 12px;}


.content>ul>li:nth-child(4){position:absolute;left: 820px;
	display:inline-block;}
.content .box4 img{width: 205px;height: 200px;}
.content .box4 div{
	position: absolute;bottom: 0;
	background: rgb(0,80,150);
	width: 205px;height: 50px;
}
.content .box4 .p1{font-size: 13px;position: absolute;top: 15px;
color: #000;line-height: 20px;}
.content .box4 .p2{position: absolute;top: 80px;line-height:12px;font-size: 12px;color:rgb(0,80,150);}
.content .box4 h4{padding-left: 10px;padding-top: 3px;color: #fff;font-size: 15px;}
.content .box4 p{padding-left: 10px;padding-top: 3px;color: #fff;font-size: 15px;}




/*콘텐츠 두번째줄*/
.secondContent{position: relative;top:760px;}
.secondContent>ul>li:nth-child(1){position:absolute;left: 175px;
	display:inline-block;margin: 0 auto;}

.secondContent .box5 img{width: 205px;height: 200px;}
.secondContent .box5 h3{position: absolute;top: 10px;left: 65px;color: #fff;}
.secondContent .box5 p{position: absolute;top: 40px;left: 12px;font-size: 13px;color: #fff;}
.secondContent .circle{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;height: 30px;border: 2px solid #fff;border-radius: 100px;}
.secondContent .circle .bar1,.bar2{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;height: 2px;
	background: #fff;}
.secondContent .circle .bar2{position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%) rotate(90deg);}




.secondContent>ul>li:nth-child(2){position:absolute;left: 390px;
	display:inline-block;}
.secondContent .box6 img{width: 205px;height: 200px;}
.secondContent .box6 h3{position: absolute;bottom: 57px;left: 65px;color: #fff;}
.secondContent .box6 p{position: absolute;bottom: 20px;left: 12px;font-size: 13px;color: #fff;}
.secondContent .circle{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;height: 30px;border: 2px solid #fff;border-radius: 100px;}
.secondContent .circle .bar1,.bar2{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;height: 2px;
	background: #fff;}
.secondContent .circle .bar2{position: absolute;bottom: 50%;left: 50%;
	transform: translate(-50%,-50%) rotate(90deg);}




.secondContent>ul>li:nth-child(3){position:absolute;left: 605px;
	display:inline-block;}
.secondContent .box7 img{width: 205px;height: 200px;}
.secondContent .box7 h3{position: absolute;bottom: 57px;left: 65px;color: #fff;}
.secondContent .box7 p{position: absolute;bottom: 20px;left: 12px;font-size: 13px;color: #fff;}
.secondContent .circle{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;height: 30px;border: 2px solid #fff;border-radius: 100px;}
.secondContent .circle .bar1,.bar2{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;height: 2px;
	background: #fff;}
.secondContent .circle .bar2{position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%) rotate(90deg);}




.secondContent>ul>li:nth-child(4){position:absolute;left: 820px;
	display:inline-block;}
.secondContent .box8 img{width: 205px;height: 200px;}
.secondContent .box8 h3{position: absolute;top: 10px;left: 55px;color: #fff;}
.secondContent .box8 p{position: absolute;top: 40px;left: 12px;font-size: 13px;color: #fff;}
.secondContent .circle{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 30px;height: 30px;border: 2px solid #fff;border-radius: 100px;}
.secondContent .circle .bar1,.bar2{
	position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	width: 15px;height: 2px;
	background: #fff;}
.secondContent .circle .bar2{position: absolute;top: 50%;left: 50%;
	transform: translate(-50%,-50%) rotate(90deg);}
