@charset "utf-8";
html,body{height: 100%;}
header#main_header{}

/*header top*/
#header_top{
	width: 100%;
	position: fixed;
	top:0;z-index:99999;
	background: white;
}

#header_top>h1{float: left;height: 50px;margin-left: 10px;line-height: 50px;}

#main_menu{
	background: powderblue;position: fixed;top: 0;left: -100%;
	width: 100%;height: 100%;
}
#main_menu ul{
	background: white;position: absolute;
	top: 50%;transform: translateY(-50%);
	width: 100%;
}
#main_menu li{float: none;height: 50px;}
#main_menu li a{display: block;line-height:50px;text-align: center;}

.toggleMenu{
	display: block;position: absolute;top: 5px;right: 10px;
	width: 40px;height: 40px;_background-color: pink;
	cursor: pointer;
}
.toggleMenu div{
	width: 25px;height: 4px;background: #333;
	border-radius: 2px;position: absolute;left: 7.5px;
}
.toggleMenu .bar1{top: 10px;}
.toggleMenu .bar2{top: 18px;}
.toggleMenu .bar3{bottom: 10px;}

.toggleMenu.change .bar1{transform: rotate(45deg);top: 18px;background: #333;}
.toggleMenu.change .bar2{opacity: 0;}
.toggleMenu.change .bar3{transform:rotate(-45deg);bottom: 18px;background: #333;}


/*slier*/
.sliderWrap{height: 400px;}
.sliderWrap li{
	height: 400px;_background:skyblue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.sliderWrap li.slider_1st{
	background-image: url(../images/bslider02.jpeg);
}
.sliderWrap li.slider_2st{
	background-image: url(../images/bslider05.jpeg);
}
.sliderWrap li.slider_3st{
	background-image: url(../images/bslider03.jpeg);
}
.sliderWrap .slider_txt{
	position: absolute;width: 500px;left: 50%;margin-left: -250px;
	text-align: center;color: white;top: 55%;
}
.sliderWrap .slider_txt h3{font-size:1em;}
.sliderWrap .slider_txt h3:after{content:"";display: none;}
.sliderWrap .slider_txt p{display: none;}
.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom:10px;
}

/*content*/
.content{width: 100%;}
.content>ul>li{
	float: left;width: 25%;position: relative;
	overflow: hidden;transition:0.3s;
	height: 190px;
}
.content>ul>li a{color:white;}
/*.content>ul>li:nth-child(2n){background:skyblue;}*/

/*content layout*/
.content li.ct1st{background: #92c1d5;width: 50%;}
.content li.ct2st{width: 50%;}
.content li.ct3st{display: none;}
.content li.ct4st{background: #b8307c;width: 50%;}
.content li.ct5st{background: #413d3e;width: 50%;}
.content li.ct6st{display: none;width: 50%;}
.content li.ct7st{display: none;height: 630px;}
.content li.ct8st{display: none;width: 50%;}
.content li.ct9st{display: none;background: #b8307c;}
.content li.ct10st{display: none;background: #413d3e;}
.content li.ct11st{display: none;width: 50%;}


/*content icon cell*/

.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a
{text-align: center;display: block;height: 100%;padding:20px;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block;margin: 0 auto;margin-bottom:5px;}

/*content txt*/
.content div.txt{position: absolute;top: 40px;left: 40px;}
.content div.txt h3:after{
	content:"";display: block;width: 50px;height: 2px;
	background-color: #fff;margin: 20px 0;
}
.content div.txt p{font-size:2em;}

/*modal layer*/
.content .ct2st .bgImg{transition:0.3s;width: 100%;}
.content .ct2st:hover .bgImg{transform:scale(1.2);}
.content .ct2st .play{
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}

/*news slider*/

.content .ct3st{}
.content .ct3st h2{position: absolute;top:40px;left: 40px;}
.content .sliderWrap{width: 630px;height:315px;}
.content .sliderWrap li.news{width: 630px;height:315px;}
.content .sliderWrap .left{
	float: left;width: 315px;height: 315px;padding: 80px 40px;
	position: relative;
}
.content .sliderWrap .left:after{
	content:"";display: block;
	border-width:30px;
	border-style:solid;
	border-color:transparent transparent transparent white;
	position: absolute;
	top:50%;transform:translateY(-50%);
	right:-60px;
}
.content .sliderWrap .right{float: right;width: 315px;height: 315px;}
.content .ct3st .btn{position: absolute;bottom: 20px;left: 213px;width: 76px;}
.content .ct3st .btn img{width:38px;height: 38px;float: left;}


/*container*/
.container{
	height: 750px;
	background:/*#aaa*/ url(../images/bslider01.jpeg) no-repeat center fixed;
	background-size: cover;color: white;padding-top: 70px;
}
.container .section{width: 100%;margin: 0 auto;margin-left: 50px;margin-top: 20px;}
.container h4{display: none;}
.container h4:after{display: none;}
.container .section p{display: none;}
.container .section li{
	float: left;margin: 20px auto;width: 40%;height: 300px;
	padding-top: 70px;border-radius: 10px;
	transition: 0.3s;
}

.container .section li:hover{
	box-shadow: 8px 8px 10px rgba(0,0,0,0.5);
	transform: translate(-10px,-10px);
}
.container .section li:nth-child(2){margin-right: 0;}
.container .section li:nth-child(3){display: none;}
.container .section li:last-child{display: none;}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .card_body{text-align: center;padding: 20px 40px;}



/*second content*/
.second_cont{
	width: 100%;margin: 0 auto;height: 485px;
}
.second_cont>ul>li{
	float: left;width: 50%;height: 100%;position: relative;
}
.second_cont>ul>li a{color: white;}


/*content txt*/
.second_cont .cont01 div{position: absolute;bottom: 20px;right: 20px;}
.second_cont .cont02 div{position: absolute;bottom: 20px;left: 20px;}
.second_cont .cont03 div{position: absolute;top: 20px;right: 20px;}
.second_cont .cont04 div{position: absolute;top: 20px;left: 20px;}


.second_cont div h3:after{display: none;}
.second_cont div p{display: none;}


.second_cont .cont01 img{width: 242.5px;height: 242.5px;display: block;}
.second_cont .cont02 img{width: 242.5px;display: block;}
.second_cont .cont03 img{width: 242.5px;display: block;}
.second_cont .cont04 img{width: 242.5px;display: block;}



/*third content*/
.third_cont{width: 100%;margin: 0 auto;height: 160px;}
.third_cont>ul>li{float: left;width: 50%;height: 100%;position: relative;}
.third_cont>ul>li img{display: none;}

.third_cont ul>li.tcont1{display: none;}
.third_cont ul>li.tcont2{width: 100%;background: #E8E3E6;}


/*content txt*/
.third_cont .title{padding-top: 30px;padding-left: 30px;padding-bottom: 20px;}
.third_cont .title h3{font-size: 18px;color: #2B2C2C;text-align: center;padding-right: 30px;}
.third_cont .title p{display: none;}
.third_cont .detail{
	width: 150px;height: 30px;border: 1px solid #fff;
	text-align: center;padding-top: 5px;margin: 0 auto;margin-bottom: 20px;
}
.third_cont .detail p{color: #fff;}
.third_cont .detail:hover{border-color: black;}
.third_cont .detail:hover p{color: black;}


/*line*/
.line{display: block;border: 2px solid #ccc;width: 100%;margin-bottom: 30px;}


/*footer*/
#footer{
	display: block;;width: 100%;
	position: relative;margin: 0 auto;
}

#footer>ul{position: absolute;left: 20px;}
#footer>img{display: block;padding-left: 20px;width: 160px; height: 80px;}
#footer>ul>a{float: left;padding-right: 20px;padding-top: 23px;font-weight: bold;color: #333;font-size: 15px;}
#footer>div>p{padding-left: 20px;padding-top: 75px;font-size: 14px;padding-bottom: 30px;}